<div class="footer">
  <div class="footer-elements">
    <span class="footer-text">Made with love at Le Wagon, batch #152 Lille</span>
    <span><%= image_tag '/logo-hero-white.png', class: 'footer-icon' %></span>
  </div>
</div>
