<div class="container-about">

  <div class="row">
    <div class="presentation">
      <h2>Managing requests like a <strong>Hero</strong></h2>
    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="card center-block">
        <div class="card-header">
          <h2 class="big-title">As a <strong>Team Member</strong>, I can...</h2>
        </div>

        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">Chat with Hero App Bot</p>
        </div>

        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">Send a request typing <strong>/hero</strong></p>
        </div>
        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">See your pending requests typing <strong>/my_requests</strong></p>
        </div>

        <img src="team-member.gif" width= "80%">
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card center-block">
        <div class="card-header">
          <h2 class="big-title">As an <strong>Office Manager</strong>, I can...</h2>
        </div>

        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">Sign in Hero App with Slack</p>
        </div>

        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">Receive requests on Hero dashboard</p>
        </div>
        <div class="bullet-point">
          <i class="fab fa-slack-hash"></i>
          <p class="title-item">Mark as done or decline a request</p>
        </div>
        <img src="dashboard-om.png" width= "80%">
      </div>
    </div>
  </div>
</div>

